/* src/components/Artistas/Artistas.css */

.section.artistas {
  margin-bottom: 60px;
}

.section.artistas h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #2c3e50;
  text-align: center;
}

.carousel .slick-slide {
  display: flex;
  justify-content: center;
}

.card-artista {
  background-color: #ecf0f1;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.card-artista:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.card-artista img {
  width: 100%;
  height: 250px; /* Ajuste para las im치genes */
  object-fit: cover;
  border-radius: 10px;
}

.card-artista h3 {
  font-size: 20px;
  color: #333;
  margin-top: 15px;
}

.card-artista p {
  color: #7f8c8d;
  font-size: 16px;
  margin: 10px 0;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-link {
  color: #1abc9c;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #16a085;
}

/* Ajustes del carrusel */
.carousel .slick-dots {
  bottom: -30px; /* Mueve los puntos de navegaci칩n m치s abajo */
}

.carousel .slick-prev,
.carousel .slick-next {
  color: #1abc9c; /* Color personalizado para las flechas */
}

.carousel .slick-prev:hover,
.carousel .slick-next:hover {
  color: #16a085;
}

/* Dise침o responsivo */
@media (max-width: 1024px) {
  .card-artista {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .card-artista {
    width: 100%;
    margin: 0 auto;
  }
}
