/* Estiliza el contenedor del carrusel */
.carousel {
width: 500px;
height: 550px;
overflow: hidden;
border-radius: 10px;
margin-top: 120px;
}
.carousel-item{
    height: 100%;
}
.carousel-inner {
    position: relative;
    height: 500px; /* Ajusta a la altura deseada */
    overflow: hidden;
} 
/* Ajusta las imágenes para que cubran toda la pantalla */
.carousel-item img {
width: 100%;
height: 100%;
object-fit: cover;
transition: transform 0.5s ease-in-out; 
}

/* Estilo de las leyendas del carrusel */
.carousel-caption {
background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
border-radius: 10px;
padding: 10px;
bottom: 20%; /* Ajusta la posición vertical */
}

.carousel-caption h3 {
font-size: 2rem;
font-weight: bold;
color: #fff;
}

.carousel-caption p {
font-size: 1.2rem;
color: #d1d1d1;
}

/* Estilo para los indicadores */
.carousel-indicators [data-bs-target] {
background-color: rgb(11, 118, 184);
width: 12px;
height: 12px;
border-radius: 50%;
}

/* Estilo para los botones de navegación */

.carousel-control-next-icon {
background-color: rgba(10, 10, 10, 0.5);
border-radius: 50%;
width: 40px;
height: 40px;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* El tamaño de la imagen será siempre 100% */
    transition: transform 0.5s ease-in-out; /* Suaviza la transición */
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* El tamaño de la imagen será siempre 100% */
    transition: transform 0.5s ease-in-out; /* Suaviza la transición */
}