
.footer {
  text-align: center;
  
}
.footer {
  display: flex;
  flex-wrap: wrap; /* Ajuste para pantallas pequeñas */
  justify-content: space-between; /* Espaciado automático entre bloques principales */
  align-items: center;
  padding: 10px;
  background-color:  rgb(11, 118, 184);
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 -15px 50px rgba(0, 89, 255, 0.2); /* Sombra superior */
  height: auto; /* Ajusta la altura según el contenido */
}

.footer-logo-container {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 50px;
  width: auto;
  max-width: 100%;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-link {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #61dafb;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
}

.footer-social-icon {
  color: #f0f0f0;
  font-size: 20px; /* Ajusta el tamaño de los iconos */
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.footer-social-icon:hover {
  color: #61dafb;
  transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

/* Responsividad */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Los elementos se apilan verticalmente */
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .footer-social-icons {
    justify-content: center;
    gap: 10px;
  }
}
