/* Página general */
.page-container {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
color: #333;
}

.logo {
font-size: 1.5rem;
}

.nav a {
margin: 0 10px;
color: #fff;
text-decoration: none;
}

.nav a:hover {
text-decoration: underline;
}

.login-btn {
background-color: #f39c12;
border: none;
padding: 10px 15px;
color: white;
border-radius: 5px;
cursor: pointer;
}

.login-btn:hover {
background-color: #e67e22;
}

/* Main content */
.main-content {
padding: 20px;
text-align: center;
}

.event-info {
margin: 20px 0;
}
.seat-container {
    position: relative; /* Necesario para que los hijos absolute se posicionen correctamente */
    width: 750px; /* Ajusta según el tamaño deseado */
    height: 600px; /* Ajusta según el tamaño deseado */
    margin: 0 auto; /* Centrar el contenedor */
    border-radius: 50px solid #ddd; /* Opcional, para ver el borde del contenedor */
    overflow: hidden; /* Evita que los elementos salgan del contenedor */
}

.seat-map {
    width: 150%; /* Asegúrate de que la imagen cubra el contenedor */
    height: 150%; /* Ajusta según sea necesario */
}

.seat-map {
max-width: 100%;
height: auto;
}

.seat-location {
position: absolute;
background: #ffffff;
width: auto;
height: auto;
border: 1px solid #ffffff;
border-radius: 5px;
padding: px;
cursor: move;
}

.cart {
margin: 20px auto;
padding: 10px;
max-width: 400px;
background: #f9f9f9;
border: 1px solid #ddd;
border-radius: 5px;
}

.cart-item {
padding: 5px 0;
border-bottom: 1px solid #ddd;
}

.pay-btn {
background-color: #27ae60;
border: none;
padding: 10px 15px;
color: white;
border-radius: 5px;
cursor: pointer;
margin-top: 10px;
}

.pay-btn:hover {
background-color: #2ecc71;
}

/* Footer */
.footer {
text-align: center;
padding: 10px;
background-color: #222;
color: #fff;
}

.social-links a {
margin: 0 10px;
color: #fff;
text-decoration: none;
}

.social-links a:hover {
text-decoration: underline;
}

.return-icon {

    color: #ff4d4d;
    cursor: pointer;
    margin-left: 10px;
    font-size: 2em;
    transition: color 0.3s ease;
    
}

.return-icon:hover {
    color: #e60000;
}
